body {
    background-color: #a6192e;
    margin-top: 0px;
}

#header {
    font: normal 100% Arial, Georgia, "Times New Roman", Times, serif;
}

#header, #main {
    margin-left: 40px;
}

#container {
    background-color: white;
}

#main {
    width: 900px;
    background-color: #e9eff1;
}

#footer {
    color: #a6192e
}

table {
    width: 800px;
}

th {
    text-align: left;
}

table, th, td {
    border: 1px solid  #c4c5c5;
    border-collapse: collapse;
}

th, td {
    width: 200px;
}

th {
    background-color: #ddd;
}

h3 {
    color: #b5111a;
}

button {
    background-color: #b5111a;
    color: white;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
}

input[type=number] {
    width: 50%;
    padding: 10px;
    margin: 3px;
    text-align: bottom;
}

table, h3, #description {
    margin-left: 15px;
}

#buttons {
    margin-right: 85px;
}

#outerBlack {
    background-color: #3c3834;
    margin-left: 85;
    margin-top: 0;
}

#container, #outerBlack {
    width: 1250;
}

#bonus {
    margin-left: 650px;
}

#finalRes {
    margin-left: 15;
    font: bold 150% Arial, Georgia, "Times New Roman", Times, serif;
}